/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.foreplot-panels {
	color: white;
	background: #555;
}
.foreplot-panels > * {
	width: 320px;
	box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}
.foreplot-item {
	position: relative;
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;
	padding: 12px 16px;
	background-color: #333333;
}

.foreplot-item.onyx-selected {
	background-color: MidnightBlue;
}

.foreplot-item-title {
	position: absolute;
	top: 6px;
	right: 0;
	left: 50px;
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.foreplot-item-description {
	position: absolute;
	top: 28px;
	right: 0;
	left: 50px;
	font-size: 11px;
	color: #ccc;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.foreplot-item-thumbnail {
	width: 30px;
	height: 30px;
}
.foreplot-more-button {
	color: white; margin: 10px;
}
.foreplot-more-spinner {
	vertical-align: middle;
	margin: -4px 0 0 4px;
}
.foreplot-center {
	margin: auto;
}
.foreplot-main {
	background-color: #333;
}
.foreplot-image {
	box-sizing: border-box;
	max-height: 90%;
	max-width: 90%;
	border: solid 5px #CCC;
	box-shadow: 1px 1px 5px #999;
	width: auto;
	height: auto;
}

.foreplot-image.wide {
	width: 100%;
}


@media all and (max-width: 800px) {
	.foreplot-image.wide {
		width: auto;
	}
}

.foreplot-image.tall {
	height: 100%;
}