/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

// Grays
// -------------------------
@black:                 #06101D;
@grayDarker:            #171F2D;
@grayDark:              #242C41;
@gray:                  #474F64;
@grayLight:             #757E88;
@grayLighter:           #CED2CB;
@white:                 #FAFAFA;


// Accent colors
// -------------------------
@blue:                  #006A9A;
@blueDark:              #003B65;
@green:                 #698733;
@red:                   #A12416;
@yellow:                #FFAE00;
@orange:                #E5521D;
@pink:                  #FFAAA1;
@purple:                #624583;

@lightText:				#FFEFCB;
@darkRed:				#7d0000;
@darkerRed:				#2e0304;
@lightBackground:       #FDFFF7;
@lightGray:				#ccc;
@darkGray:				#222;

// From Theme.less

@onyx-toolbar-font-size: 30px;
@onyx-font-size-small: 20px;
@onyx-font-size-medium: 26px;
@onyx-font-size-large: 36px;

/* Toolbar */

.onyx-toolbar-inline > *, .enyo-fittable-columns-layout.onyx-toolbar-inline > * {
	margin: 1px 6px;
}

.bottom-toolbar {
	//box-shadow: 4px 0 10px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	background: @lightBackground;
}

.top-toolbar {
	background: @lightBackground;
	white-space: normal;
	.close-button {
		float: right;
		margin: 3px 5px;
	}
}

/* Button */

.all-button {
	outline: 0;
	height: 34px !important;
	color: #7d0000;
	font-size: 26px;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #707070;
	border: 1px solid rgba(15, 15, 15, 0.2);
	background: none;
}

.text-button {
	.all-button;
	font-family: "Alegreya SC";
	font-size: 16px !important;
	line-height: 16px !important;
	padding: 6px;
}

.ding-button {
	.all-button;
	width: 34px;
	font-size: 20px !important;
	line-height: 20px !important;
	padding: 8px 6px 4px 6px;
	//box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
	//background: #e1e1e1 url(http://localhost:8000/source/../assets/toolbar.png) repeat-x bottom;
	//background-size: contain;
	text-overflow: ellipsis;
}

.pressed-button {
	//background-color: #FFEFCB;
	//background-image: url($lib/onyx/images/gradient.png);
	background-position: top;
	box-shadow: inset 0px 2px 6px rgba(0,0,0,0.4);
}
.ding-button.active, .ding-button.pressed {
	.pressed-button
}

.ding-button:active:hover:not([disabled]) {
	.pressed-button
}

.text-button.active, .text-button.pressed {
	.pressed-button
}

.text-button:active:hover:not([disabled]) {
	.pressed-button
}

.text-button.negative, .ding-button.negative {
	background-color: #C51616;
	color: #F2F2F2;
}

/* Background */

.wallpaper {
	background: url(/assets/bg.png);
}

/* Basement */

.basement-title {
	font-family: Tangerine;
	font-size: 36px;
	text-align: center;
	padding: 10px 5px;
	color: @lightText;
}

.basement-header {
	font-family: "Alegreya SC";
	color: @lightText;
	margin: 8px 25px;
}

.today-header {
	font-family: "Alegreya SC";
	color: @lightText;
	margin: 4px 0 0 25px;
}

.list-item-title {
	font-family: "Alegreya";
	color: @lightText;
	margin: 4px 0 4px 40px;
}

.list-item-count {
	font-family: "Alegreya";
	color: @lightText;
	background-color: #CD6264;
	border-radius: 6px;
	float: right;
	margin: 4px 20px 4px 0;
	padding: 1px 4px;
	min-width: 14px;
	text-align: center;
}

/* Common */

.middle {
	vertical-align: middle;
}

.plist-panels {

}
.plist-panels > * {
	width: 320px;
	min-width: 290px;
	box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
	background-color: @lightBackground;
}

/* Basement */

.plist-basement {
	max-width: 290px;
    background: @darkerRed;
    background-image: -moz-linear-gradient(top, @darkRed, @darkerRed);
    background-image: -ms-linear-gradient(top, @darkRed, @darkerRed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@darkRed), to(@darkerRed));
    background-image: -webkit-linear-gradient(top, @darkRed, @darkerRed);
    background-image: -o-linear-gradient(top, @darkRed, @darkerRed);
    background-image: linear-gradient(top, @darkRed, @darkerRed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darkRed', endColorstr='@darkerRed', GradientType=0);
    
}

#rootView_basement_groups_container {
	.selected {
		background: #911;
		box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	}
}
.selected-category {
	background: #911;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
}

/* Ground Floor */

.plist-groundfloor {
	min-width: 320px;
	max-width: 320px;
}

.prayer-list-container {
	padding: 16px 0px;
}

.prayer-list-item {
	font-family: "Alegreya";
	color: @darkGray;
	margin: 6px 0px;
	padding: 4px 16px;
	text-align: center
}

.prayer-list-divider {

}

.verse-item {
	font-family: "Alegreya";
	font-style: italic;
	color: @darkGray;
	margin: 4px 0 0 0px;
}

.verse-address {
	font-family: "Alegreya SC";
	font-size: 0.9em;
	color: @darkGray;
	text-align: right;
	letter-spacing: 3px;
	margin: 4px 4px 12px 0;
	display: inline-block;
	float: right;
}

.verse-version {
	font-family: "Alegreya SC";
	font-size: 0.9em;
	color: @darkGray;
	display: inline-block;
}

#rootView_categoryView_prayersList_container {
	.selected {
		.prayer-list-item {
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
		}
	}
}

/* Upper Ground Floor */

.bg {
	background: @lightBackground;
}

/* Upper Floor */
.plist-upperfloor {
	min-width: 320px;
	background-color: @lightBackground;
}

.prayer-item-container {
	padding: 16px 0;
}

.decent-padding {
	padding: 0 16px;
}

.upperfloor-header {
	font-family: "Alegreya SC";
	color: @darkRed;
	letter-spacing: 5px;
	margin: 14px 0px;
}

.plist-item {
	position: relative;
	border-top: 1px solid #444;
	border-bottom: 1px solid #222;
	padding: 10px;
	background-color: #333333;
}

.plist-item.onyx-selected {
	background-color: #00315d;
}

.journal-entry {
	margin-left: 10px;
	font-family: "Alegreya";
	color: @darkGray;
}

.plist-item-title {
	position: absolute;
	top: 6px;
	right: 0;
	left: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}


.plist-menu-title {
	position: absolute;
	top: 16px;
	right: 0;
	left: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.plist-item > .icon {
	font-size: 20px;
	color: #8587ad;
}

.plist-header-row {
	background-color: @gray;
	color: @orange;
	padding: 3px;
	font-size: 36px;
	padding-left: 10px;
}

.plist-center {
	margin: auto;
}

.plist-main {
	background-color: #333;
}

.plist-image {
	box-sizing: border-box;
	max-height: 90%;
	max-width: 90%;
	border: solid 5px #CCC;
	box-shadow: 1px 1px 5px #999;
	width: auto;
	height: auto;
}

.plist-image.wide {
	width: 100%;
}


@media all and (max-width: 640px) {
	.plist-image.wide {
		width: auto;
	}
	.plist-panels > * {
		min-width: 100%;
		max-width: 100%;
	}
}

.plist-image.tall {
	height: 100%;
}


/********* Typography *********/

.dark-red {
	color: @darkRed;
}

.swashy-script {
	font-family: "Lovers Quarrel";
}

// .stylish-text {
// 	font-family: "Tangerine";
// 	font-size: 28px;
// }
.stylish-text:first-letter {
	font-family: "Lovers Quarrel";
}

.dropcap-text:first-child:first-letter {
	float: left; color: #903; 
	font-size: 45px; 
	line-height: 30px; 
	padding: 4px 8px 4px 3px; 
	font-family: "Lovers Quarrel";
	color: @darkRed;
}

/* Watermark */

.watermark {
	font-family: "Tangerine";
	font-size: 68px;
	opacity:0.1;
	filter:alpha(opacity=10); /* For IE8 and earlier */
	position: absolute;
	left: 30px;
	padding-right: 23px;
}

.watermark:first-letter {
	font-family: "Lovers Quarrel";
}

.lined-header h2 {
	border-top: 1px solid #222222;
	color: #222;
	font: 800 20px/20px "open sans";
	margin: 0 0 20px 0;
	text-align: center;
	text-transform: uppercase;
}

.lined-header h2 span {
	background: #ef4723;
	padding: 0 20px;
	position: relative;
	top: -10px;
}

// .swash {
// 	font-size: 26px;
// 	line-height: 10px;
// 	padding-top: 10px;
// 	margin-bottom: -5px;
// 	color: @lightText;
// 	text-align: center;
// }

// .swash-small {
// 	font-family: "MT-Extra";
// }

// .swash-big {
// 	font-family: "Wingdings";
// }

// .swash-dark {
// 	color: @darkRed;
// }

/* Journal Panel */
#rootView_rootPanels_prayerPanels_prayerView_journals_container,
#rootView_rootPanels_prayerPanels_prayerView_verses_container {
	.selected {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	}
} 

.pl-input-container {
	text-align: center;
	margin: 0px 16px 16px 16px;
	// * {
	// 	width: 92%; // This is a hack. 100% gives 
	// }
}


/* Groupbox */

.pl-groupbox-header {
	color: @grayDark;
	background-color: @lightBackground;
	border: none;
	font-size: @onyx-font-size-small;
	font-family: "Alegreya SC";
	font-weight: normal;
};

.pl-groupbox > * {
	border: none;

}


/* Input Decorator */
.pl-input-decorator {
	input, .enyo-input {
		font-family: Alegreya;
		width: 100%;
		border-bottom: 1px dotted @grayDark;
		font-size: @onyx-font-size-small;
	}
	border: none;
}


/* Input */
.pl-input {

}


/* Checkbox label */
.checkbox-label {
	vertical-align:middle;
	padding-left:5px;
	margin-right: 15px;
	font-family: "Alegreya SC";
	font-size: 0.9em;
	color: @darkGray;
}

.pull-right {
	float: right;
}


/* Edit Category panel */

.schedule-section {
	text-align:left;
	margin: 10px 0;
	.week-checkboxes > * {
		margin-right: 10px;
	}
	table {
		margin-left: 40px;
	}
	td {
		text-align: center;
		div {
			margin: 0px;
		}
	}
}