/* 
    You can modify the Onyx theme by adding variable and rule overrides to this
    file.  To enable theming, follow these steps:

    1. In debug.html, uncomment the line referencing "less-<version number>.min.js".
    2. In package.js, change "$lib/onyx" to "$lib/onyx/source".
    3. Also in package.js, add "Theme.less" (this file).
    4. Add variable and rule overrides below.

    See [https://github.com/enyojs/enyo/wiki/UI-Theming] for more information.
*/


/* Onyx default variable definitions: */
@import "../lib/onyx/css/onyx-variables.less";

// Accent colors
// -------------------------
@black:                 #06101D;
@grayDarker:            #171F2D;
@grayDark:              #242C41;
@gray:                  #474F64;
@grayLight:             #757E88;
@grayLighter:           #CED2CB;
@white:                 #FAFAFA;

@plBlue:                  #006A9A;
@plBlueDark:              #003B65;
@plGreen:                 #698733;
@plRed:                   #A12416;
@plYellow:                #FFAE00;
@plOrange:                #E5521D;
@plPink:                  #FFAAA1;
@plPurple:                #624583;
@darkRed:				#7d0000;
@lightBackground:       #FDFFF7;

/* Place your Onyx variable overrides here -------------------- */
// @onyx-font-family: "Open Sans", Asap, Arial;
@onyx-font-family: Alegreya, Kreon, Arial;
@onyx-grabber-image: url(/assets/grabbutton.png);
@onyx-gradient: url(/assets/toolbar.png);

@onyx-toolbar-text-color: @darkRed;
@onyx-toolbar-font-size: 28px;
@onyx-font-size-small: 16px;
@onyx-font-size-medium: 20px;
@onyx-font-size-large: 26px;

@onyx-text-color: @grayDark;

@onyx-background: @lightBackground;
@onyx-light-background: @lightBackground;
@onyx-dark-background: @darkRed;

/* ------------------------------------- end variable overrides */

/* Onyx rule definitions: */
@import "../lib/onyx/css/onyx-rules.less";

/* Place your Onyx rule overrides here ------------------------ */
body {
	font-family: @onyx-font-family;
}

.onyx-input-decorator.onyx-focused {
    // box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3);
    // border-color: rgba(0,0,0,0.3);
    background-color: @onyx-input-focused-background;
}

.onyx-toolbar {
	font-family: Tangerine, "Helvetica Neue", Arial, sans-serif;
	border: none;
	padding: 4px 8px;
}

/* ----------------------------------------- end rule overrides */
